*{
    margin:0px;
    padding:0px;
}
body{
    font-size:14px;
    background-color: darkturquoise;
    /*background-color: #f5f5f5;*/
}
ul,li,ol{
    list-style: none;
}
a{
    color:#444;
    text-decoration: none;
}
.box{
    width:300px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -150px;
    background-color: rgb(245,245,245);
    -webkit-box-shadow: 0 0 30px #aaa;
            box-shadow: 0 0 30px #aaa;
    padding:0 20px;
    border-radius:10px;
}
.box p{
    color:red;
    text-align: center;
    padding-top:10px;
}